* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  height: 80px;
  /* width: 100%; */
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background-color: rgba(224, 230, 233, 0.7764705882);
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 0 30px;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: #25524c;
  margin-right: 10px;
  padding: 24px 12px;
  transition: 0.3s;
}

a:hover {
  color: #7b7b7b;
  font-weight: 800;
}

.main-img {
  display: inline-block;
  margin: 0 auto;
  background: url(/img/photo-designer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-anm {
  width: 100%;
  transition: 2s;
}

.img-anm:hover {
  transform: scale(130%);
}

.img-a {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------------------ Mano Burger menu ------------------------- */
#burger_menu {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border: none;
  display: none;
  opacity: 0;
}

#burger_menu:checked + .menu_btn > span {
  transform: rotate(45deg);
}

#burger_menu:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#burger_menu:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger_menu:checked ~ .menu_box {
  right: 0 !important;
}

.menu_btn {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #c9cbcc;
  transition-duration: 0.25s;
}

.menu_btn > span::before {
  content: " ";
  top: -8px;
}

.menu_btn > span::after {
  content: " ";
  top: 8px;
}

.menu_box {
  display: block;
  position: fixed;
  top: 30px;
  right: -180%;
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 20px 0;
  list-style: none;
  background-color: rgba(46, 46, 46, 0.7764705882);
  box-shadow: 2px 2px 2px rgba(58, 53, 53, 0.7725490196);
  transition: right 0.25s ease-in-out;
  box-sizing: border-box;
}

.menu_item {
  display: block;
  padding: 20px 40px;
  color: #f0e8e8;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu_item:hover {
  color: #cfcfcf;
}

/* -------------- grid ---------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(5, 2fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin: 20px;
}

.grid-item-1 {
  grid-column: 1/10;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-item-3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-item-4 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 3;
}

.grid-item-5 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #c9cbcc;
}

.grid-item-8 {
  grid-column-start: 13;
  grid-column-end: 16;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid-item-9 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.grid-item-10 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.mt {
  margin-top: 5px;
  background-color: #a5a6f1;
}

.grid-item-11 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: #ec7dc2;
}

.grid-item-12 {
  grid-column-start: 10;
  grid-column-end: 16;
  grid-row-start: 5;
  grid-row-end: 6;
}

.item-div-5 {
  padding: 10px;
}

.item-div-6 {
  padding: 10px;
  margin-top: 30px;
}

.grid-item-6 {
  grid-column-start: 13;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #c9cbcc;
}

.grid-item-7 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;
}

.item-div-7 {
  padding: 0 10px 0 10px;
  margin-top: 30px;
}

/* ------------------- Button ----------------- */
.btn-container {
  display: flex;
  justify-content: end;
  align-content: space-around;
  margin-right: 10%;
  margin-top: 10%;
}
.btn-container .btn {
  justify-content: center;
  padding: 5px 15px;
  width: 50%;
  border: 2px solid #03685a;
  border-radius: 1em;
  background-color: transparent;
  color: #bead13;
  font-size: 1.5em;
  cursor: pointer;
}
.btn-container .btn:hover {
  background-color: #03685a;
}

/* ------------------ Colors ------------------ */
.clr-1 {
  background-color: #ec7dc2;
}

.clr-2 {
  background-color: #7decd0;
}

.clr-3 {
  background-color: #edee9b;
}

.clr-4 {
  background-color: #ec937d;
}

.clr-5 {
  background-color: #a5a6f1;
}

/* ------------------ LOGO - TITLE - IMG ------------------ */
.logo {
  height: 50px;
  margin-left: 20px;
}

.main-title {
  font-size: 24px;
  padding: 30px 0 0 40px;
}

.text {
  padding: 40px;
}

.img-d {
  width: 100%;
  object-fit: cover;
}

.headline {
  font-size: 22px;
  padding: 10px;
  color: #566670;
  font-weight: 500;
  text-transform: uppercase;
}

.second-text {
  font-size: 20px;
  padding: 0px 10px 10px 10px;
  line-height: 24px;
  color: #566670;
}

.head {
  font-size: 18px;
  padding: 10px;
  color: #566670;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.main-text {
  font-size: 20px;
  padding: 0 10px 10px 10px;
  color: #566670;
  font-weight: 500;
  text-transform: uppercase;
}

/* --------------------- FOOTER ------------------ */
footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  color: #e7d2ba;
  margin-top: 10px;
  background-color: #7a8e9b;
}

/* -------------------- Responsive ------------------- */
@media screen and (max-width: 1449px) {
  .hamburger_menu {
    display: none;
  }
  .btn-container {
    margin-bottom: 3px;
    margin-right: 10px;
  }
  .btn-container .btn {
    width: 50%;
    font-size: 1em;
  }
}
@media screen and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    grid-auto-flow: dense;
    margin: 20px;
  }
  .img-d {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
  }
  .headline {
    font-size: 22px;
  }
  .second-text {
    font-size: 16px;
  }
  .btn-container {
    margin-right: 10%;
    margin-top: 10%;
  }
  .btn-container .btn {
    width: 30%;
    font-size: 1em;
  }
  .hamburger_menu {
    display: none;
  }
  .grid-item-1 {
    grid-area: 1/1/1/16;
    /* grid-column: 1 / 16;
    grid-row-start: 1;
    grid-row-end: 1; */
  }
  .grid-item-5 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #a5a6f1;
  }
  .grid-item-6 {
    grid-column-start: 8;
    grid-column-end: 16;
    grid-row-start: 3;
    grid-row-end: 2;
    background-color: #edee9b;
  }
  .grid-item-7 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: #7decd0;
  }
  .grid-item-8 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .grid-item-2 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid-item-9 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .grid-item-10 {
    grid-column-start: 8;
    grid-column-end: 16;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .grid-item-11 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .grid-item-4 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .grid-item-12 {
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 9;
    grid-row-end: 9;
  }
  .img-d {
    display: block;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
  }
  .headline {
    font-size: 22px;
  }
  .second-text {
    font-size: 22px;
    line-height: 40px;
  }
  .img-anm:hover {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
  }
  .headline {
    font-size: 24px;
    font-weight: 700;
  }
  .btn-container {
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .btn-container .btn {
    width: 30%;
    font-size: 1em;
  }
  .second-text {
    font-size: 22px;
  }
  .nav-bar {
    display: none;
  }
  .img-anm:hover {
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
  }
  .main-img {
    background: url(/img/photo-designer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav-bar {
    display: none;
  }
  .hamburger_menu {
    display: inline-block;
  }
  .img-anm:hover {
    transform: none;
  }
}/*# sourceMappingURL=style.css.map */